// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #d7d7d7;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #2d3235;

@cyan: #8abeb7;
@blue: #448ccb;
@purple: #b394dd;
@green: #57cd75;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
